
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>Justine Colin</p>

<address>
    Hestroumont 9,<br />
    4910 Theux<br />
    <abbr title="Phone">P:</abbr>
    0471/66.04.35
</address>

<address>
    <a href="mailto:Justine.COLIN@student.hel.be">mailto:Justine.COLIN@student.hel.be</a>
</address>

